@font-face {
    font-family: 'Motiva Sans';
    src: url('../../public/fonts/MotivaSans-Regular_woff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Motiva Sans", sans-serif;
}
